

body {
    background-color: lightskyblue;
}

.button{
    transition-duration: 0.5s;
    background-color: rgb(161, 218, 238);
    padding: 20px;
}
.button:hover{
    background-color: rgb(125, 190, 213);
}
.button:active{
    background-color:rgb(38, 81, 97);
}



.roboto-default-font {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

.gamecontainer {
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.flex-item {
    flex: 1;
    padding: 10px;
}

