

body {
    background-color: lightskyblue;
    font-family: 'Roboto', sans-serif;
}

.gamecontainer {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.flex-item {
    flex: 1;
    padding: 10px;
}

